body{
	background-color: #79A325;
	font-family: 'Titillium Web', sans-serif;
	font-size: 100%;
	color: white;
}

form{
	margin:auto;
	margin-top:100px;
	width:400px;
	height:200px;
	line-height: 40px;
}

form input{
	font-size: 100%;
}

form label{
	width: 100px;
	text-align: right;
	display: inline-block;
}

logo{
	display: block;
	margin:auto;
	background: url(../img/logo.png) no-repeat;
	width: 150px;
	height: 82px;
}

error{
	display: block;
	color: red;
	background-color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}

ok{
	display: inline-block;
	font-size: 80%;
	margin-left: 5px;
	line-height: 20px!important;
}