/*GENERAL*/

ul.list{
	list-style-type: none;
	margin-left: 0px;
	padding: 0px;
	line-height: 150%;
}

ul.list label{
	font-weight: bold;
	margin-right: 5px;
}

.number{
	text-align: right;
}

menu a[href=home]{
	color:red;
	background: url(../img/i_home.png) no-repeat;
	text-indent: -1000px;
	display: inline-block;
	padding-bottom: 0px!important;
	background-position:center 10; 
}

.bg-light-grey{
	background-color: #DDD;
}

/**/

account{
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 20px;
	text-align: right;
}

account name{
	display: none;
	font-size: 200%;
	color: white;
	margin-bottom:5px;
}

account user{
	color: white;
	margin-right: 3px;
}

account a.signout{
	width: 17px;
	height: 17px;
	display: inline-block;
	background-color:#333;
	color: #EEE;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 80%;
}

account a.signout:hover{
	opacity: .8;
}

form{
	margin: 0px;
	padding: 0px;
}

h1{
	color: white;
	padding: 10px;
	float: right;
}

a{
	color: #555;
}

body{
	margin:0px;
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
	font-family: proxima-nova,"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif!important;
}

logo{
	position: absolute;
	left: 20px;
	top: 15px;
	background: url(../img/logo3.png) no-repeat;
	width: 70px;
	height: 70px;
	background-size: contain;
}

version{
	display: none;
	position: absolute;
	left: 70px;
	color: white;
	opacity: .6;
	/* width: 200px; */
	text-align: center;
	top: 67px;
	font-size: 10px;
}

#top{
	height: 100px;
	width: 100%;
	background-color: #79A325;


	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #79A325),
	color-stop(0.59, #678A20)
);
background-image: -o-linear-gradient(bottom, #79A325 0%, #678A20 59%);
background-image: -moz-linear-gradient(bottom, #79A325 0%, #678A20 59%);
background-image: -webkit-linear-gradient(bottom, #79A325 0%, #678A20 59%);
background-image: -ms-linear-gradient(bottom, #79A325 0%, #678A20 59%);
background-image: linear-gradient(to bottom, #79A325 0%, #678A20 59%);
	position: fixed;
	top:0px;
	z-index: 10000;
}

#top-right{
	float:right;
}

#middle{
	background-color: #DDD;
	margin-top: 100px;
	margin-bottom: 100px;
}

#bottom{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #333;
	color: white;
	z-index: 10002;
}

#bottom ul{
	width: 100%;
	text-align: center;
}

#bottom li{
	
}

#bottom a{
	color: white;
}

bottommenu ul{
	padding: 0px;
}

bottommenu li{
	/*float:left;*/
	/*padding: 10px;*/
	position: relative;
	display: inline-block;
	width: 80px;
	height: 55px;
}

bottommenu li icon{
	position: absolute;
	width: 80px;
	top: 0px;
	left: 0px;
}

bottommenu li img{
	height: 45px;
	width: 45px;
}

bottommenu li name{
	height: 45px;

}

bottommenu a{
	color: white;
	text-decoration: none;
}

bottommenu icon:hover{
	opacity: .8;
}

bottommenu icon:hover name{
	visibility: visible;
}

bottommenu name{
	display: block;
	font-size: 70%;
	margin-top: 5px;
	visibility: hidden;
}

tabs{
	background-color: #DDD;


	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #DDDDDD),
	color-stop(0.59, #CCCCCC)
);
background-image: -o-linear-gradient(bottom, #DDDDDD 0%, #CCCCCC 59%);
background-image: -moz-linear-gradient(bottom, #DDDDDD 0%, #CCCCCC 59%);
background-image: -webkit-linear-gradient(bottom, #DDDDDD 0%, #CCCCCC 59%);
background-image: -ms-linear-gradient(bottom, #DDDDDD 0%, #CCCCCC 59%);
background-image: linear-gradient(to bottom, #DDDDDD 0%, #CCCCCC 59%);

	border-bottom: 1px solid #AAA;
	display: block;
	width: 100%;
	height: 35px;
	position: fixed;
	z-index: 10001;
}

tab{
	height: 25px;
	display:list-item;
	list-style-type: none;
	margin:0px;
	float: left;
	border: 1px solid #999;
	border-top: 0px;
	border-left: 0px;
	padding: 10px;
	padding-bottom: 0px;
	background-color: white;
	cursor: pointer;
	background-color: #EEE;
}

tab.selected{
	border-bottom: 0px;
	font-weight: bold;
	margin-bottom: -1px;
	height: 19px;
	background-color: #FFF;
	padding: 10px;
	padding-bottom: 7px;
}

tab a{
	float: right;
	margin-left: 5px;
	text-decoration: none;
	font-family: fantasy;

}

modules{
	padding: 0px;
	width: auto;
	display: block;
	background-color: white;
	position: relative;
	top: 36px;
	padding-top: 20px;
}

module{
	position: relative;
	width: 100%;
	display: inline-block;
	background-color: white;
	min-height: 200px;
	margin-bottom: 100px;
}

modulecontent{
	padding-left: 20px;
	position: relative;
	margin-top: 30px;
	display: block;
}

menu{
	display: block;
	border-bottom: 1px solid #CCC;
	top: 123px;
	padding: 10 0 5 10;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 1;
	font-size: 80%;
	color: #666;
}

menu a{
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
	color: #444;
	padding: 10px;
}

menu a.selected{
	color: #87b763;
}


message.error{
	color:red;
}

search{
	position: absolute;
	top:30px;
	left:50%;
	width: 300px;
	margin-left: -150px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px;
	background-color: white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	-moz-box-shadow:   inset 1px 1px 2px #333;
   -webkit-box-shadow: inset 1px 1px 2px #333;
   box-shadow:         inset 1px 1px 2px #333;
	
}

search input{
	width: 100%;
	font-size: 110%;
	border: none;
	outline: none;
	background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-search-20.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 23px;
	opacity: .8

}

/* FROMS */

form.filter input[type=submit]{
	margin:0px!important;
	margin-left:10px!important;
}

form.filter{
	background-color: #EEE;
	display: inline-block;
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 10px;
}

form.filter label{
	color: #666;
	margin-right: 4px;
	margin-left:8px!important;
	font-size: 80%;
}

form input[type=submit]{
	margin-top: 20px;
	margin-left: 160px;
}

form ul{
	list-style-type: none;
	margin: 0px;
}

form li label{
	width:100px!important;
	display: inline-block;
	text-align: right;
	margin: 10px;
	margin-right: 15px;
	/*line-height: 250%;*/
	color: #666;
}

form li input[type=text], form li input[type=number]{
	padding: 5px;
	font-size: 15px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 200px;
	outline: 0;
}

form li textarea{
	padding: 5px;
	font-size: 15px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 200px;
	outline: 0;
}

form li select{
	outline: 0;
	padding: 5px;
	font-size: 15px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 200px;
	height: 30px;
}

.currency input{
	margin-left: 10px;
	width: 180px!important;
}

.button{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
	font-weight: bold;
	padding-right: 20px;
	border: none;
	min-width: 100px;
	font-size: 70%;
	line-height: 250%;
	color: white;
	height: 32px;
	cursor: pointer;
	background-color: #87b763;
	border-radius: 5px;
	text-transform: uppercase;
}

/* */

.data-grid{
	border-spacing: 0px;
}

.data-grid tfoot td{
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #999;
	font-weight: bold;
}

.data-grid th{
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #999;
	font-size: 70%;
}

.data-grid td{
	padding: 5px 10px 5px 10px;
	border-bottom: 1px dotted #999;
}

.data-grid tr:last-child td{
	border-bottom: none!important;
}

.data-grid a{
	font-size: 80%;
	font-weight: bold;
}



.data-grid-2{
	border-spacing: 0px;
}

.data-grid-2 th{
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #333;
}

.data-grid-2 td{
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}

.data-grid-2 td:first-child{
	border-left: none!important;
}

.data-grid-2 tr:last-child td{
	border-bottom: none!important;
}



.loading{
	opacity: .5;
}

_preloader{
	background-image: url(../img/pl_1.gif);
	width: 212px;
	height: 13px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -106px;
}

preloader{
	position: absolute;
	text-align: center;
}

preloader progressbar{
	background-image: url(../img/pl_1.gif);
	width: 212px;
	height: 13px;
	display: block;
	margin: 5px;
	margin-top: 15px;
}

preloader legend{
	font-size: 80%;
	color: #666;
	text-align: center;
	width: 100%;
}

preloader logo{
	background-image: url(../img/logo_2.png);
	width: 200;
	height: 110px;
	display: block;
	position: relative;
}


#overlay{
	background-color: rgba(0,0,0,.5);
	width:100%;
	height: 100%;
	position: fixed;
	z-index: 1000000;
	display: none;
}

#overlay-container{
	background-color: white;
	width: 50%;
	height: 50%;
	margin: auto;
	margin-top: 10%;
	padding: 20px;
	overflow: scroll;
}


#tutorial li{
	display: inline;
}


.uv-bottom-right{
	bottom: 30px!important;
	right: 22px!important;
}