
<!--TR-->
		<tr>{TR_CONTENTS}</tr>
<!---->

<!--TD-->
		<td>{TD_CONTENTS}</td>
<!---->

<!--TD_CHECKBOX-->
		<td><input type="checkbox" /></td>
<!---->

<!--TD_USER-->
		<td>{USER_NAME}</td>
<!---->

<!--TD_MODULE-->
		<td>{MODULE_NAME}</td>
<!---->

<table>
	{TABLE}
</table>