<table class="data-grid">

	<tr>
		<th>EMAIL</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<!--USER-->
	<tr>
		<td>{EMAIL}</a></td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="product">eliminar</a></td>
	</tr>
<!---->
</table>