<ul>

	<li><label>Email:</label> <input type="text" name="email" /></li>

	<li><label>Contraseña:</label> <input type="password" name="password" /></li>

	<li><label>Nombre:</label> <input type="text" name="first_name" /></li>

	<li><label>Apellido:</label> <input type="text" name="last_name" /></li>

	<li><label>Tipo:</label> <input type="radio" name="type" value="normal" />Normal <input type="radio" name="type" value="admin" />Admin</li>

</ul>