<form action="invoicing/edit">

	<input type="hidden" name="id" value="{ID}" />

	<fieldset>
		
		<dl>
			<dt><label for="name">Número</label></dt>
			<dd><input name="number"></dd>
		</dl>

		<dl>
			<dt><label for="comments">Description</label></dt>
			<dd><textarea name="comments"></textarea></dd>
		</dl>


		<dl>
			<dt><label for="comments">Pagada</label></dt>
			<dd><input type="checkbox" name="paid" value="yes"></dd>
		</dl>

	</fieldset>


	<input type="submit" />

</form>