<form class="filter" action="invoicing/list">

	<label>Estado:</label>

	{SELECT_STATUS}

	<label>Mes:</label>

	{SELECT_MONTH}

	<input type="submit" value="Filtrar" class="button" />

</form>

<br>

<table class="data-grid">
	
	<tr>
		<th>Número</th>
		<th>Cliente</th>
		<th>Total ($)</th>
		<th>Total ($UY)</th>
		<th>Fecha</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<!--INVOICE-->
	<tr>
		<td>{NUMBER}</td>
		<td>{CLIENT}</td>
		
		<td class="number">{TOTAL}</td>
		<td class="number">{TOTAL_2}</td>

		<td>{DATE}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#print" w-invoice-id="{ID}">imprimir</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="invoice">eliminar</a></td>
	</tr>
<!---->

<!--INVOICE_NONE_ADMIN-->
	<tr>
		<td>{NUMBER}</td>
		<td>{CLIENT}</td>
		<td class="number">{TOTAL}</td>
		<td>{DATE}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="#print" w-invoice-id="{ID}">imprimir</a></td>
	</tr>
<!---->

	<tfoot>
	<tr>
		<td></td>
		<td></td>
		
		<td><strong>{TOTAL_SUM}<strong></td>
		<td></td>
		<td></td>

		<td></td>
		<td></td>
		<td></td>
	</tr>
	</tfoot>

</table>