<form action="invoicing/new">

	<fieldset>
		
		<dl>
			<dt><label for="name">Cliente</label></dt>
			<dd>{CLIENT}</dd>
		</dl>

		<dl>
			<dt><label for="date">Fecha</label></dt>
			<dd><input type="date" name="date" /></dd>
		</dl>

		<dl>
			<dt><label for="total">Total</label></dt>
			<dd><input type="number" name="total" /></dd>
		</dl>

		<dl>
			<dt><label for="products">Productos</label></dt>
			<dd>
				{PRODUCTS}
				<input style="width:40px;" type="number" size="1" name="qty" value="0" autocomplete="off">
				<button type="button" value="add-product">Agregar</button>



				<products></products>
				
			</dd>
		</dl>

	</fieldset>


	<input type="submit" />

</form>