<h2>Factura #{ID}</h2>

<button class="button" value="print" w-invoice-id="{ID}">Imprimir</button>

<ul class="list">

	<li><label>Número:</label> {NUMBER}</li>
	<li><label>Cliente:</label> {CLIENT}</li>
	<li><label>Tipo:</label> {TYPE}</li>

	<li><label>Subtotal:</label> {SUBTOTAL}</li>
	<li><label>Impuestos:</label> {TAX}</li>
	<li><label>Total:</label> {TOTAL}</li>

	<li><label>Productos:</label>
		
		<ul>
		<!--PRODUCT-->
			<li>{ORDER_AMOUNT} x {PRODUCT_NAME}</li>
		<!---->
		</ul>

	</li>

</ul>

<h3>Comentarios</h3>

<form action="invoicing/save">

	<input type="hidden" name="id" value="{ID}" />
	<input type="hidden" name="action" value="save" />

	<ul class="list">

		<li><label></label><textarea name="comments" w-invoice-id="{ID}">{COMMENTS}</textarea></li>

		<li><input type="submit" class="button" value="Guardar cambios" /></li>

	</ul>

</form>


<h3>Pagos</h3>


<table class="data-grid">
<!--PAYMENT-->
	<tr>
		<td>{PAYMENT_ID}</td>
		<td class="number">{PAYMENT_TOTAL}</td>
	</tr>
<!---->
</table>