<form action="importations/new">

	<ul>

		<li>
			<label>Total:</label>
			<input name="total" type="number" />
		</li>
		
		<li>
			<label for="products">Productos</label>
			
				{PRODUCTS}
				<input style="width:40px;" type="number" name="qty" value="0" autocomplete="off">
				<button type="button" value="add-product">Agregar</button>
		</li>

	</ul>

	<div>
		<products></products>
	</div>
	

	<input type="submit" />

</form>