<h2>Importación #{ID}</h2>

<ul>

	<li>
		<label>Fecha:</label>
		{DATE}
	</li>

	<li>
		<label>Total:</label>
		{TOTAL}
	</li>

	<li><label>Productos:</label>
		
		<ul>
		<!--PRODUCT-->
			<li>{IMPORTATION_AMOUNT} x {PRODUCT_NAME}</li>
		<!---->
		</ul>

	</li>

</ul>