<h2>Mis Aplicaciones</h2>

<p>Hacé clic en la casilla al lado de la aplicación que quieras agregar al menú inferior.</p>

<ul>
<!--APP-->
	<li>
		<label>
			<input name="app" w-module-id="{APP_ID}" type="checkbox" {APP_CHECKED} />
			
		</label>

		<a w-app-path="{APP_KEYWORD}" href="#">{APP_NAME}</a>

	</li>
<!---->
</ul>