<form action="orders/list" class="filter">

	<label>Cliente:</label>

	{SELECT_CLIENT}

	<label>Mes:</label>

	{SELECT_MONTH}

	<input type="submit" value="Filtrar" class="button" />

</form>

<table class="data-grid">

	<tr>
		<th>CLIENTE</th>
		<th>TOTAL ($)</th>
		<th>TOTAL ($U)</th>
		<th>FECHA</th>
		<th></th>
		<th></th>
	</tr>

<!--ORDER-->
	<tr>
		<td>{CLIENT}</td>
		<td class="number">{TOTAL}</td>
		<td class="number">{TOTAL_2}</td>
		<td>{DATE}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="order">eliminar</a></td>
	</tr>
<!---->

	<tfoot>
		<tr>
			<td></td>
			<td class="number">{GRAND_TOTAL}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			
		</tr>
	</tfoot>

</table>