<ul>
	
	<li>
		<label for="name">Cliente:</label>
		{CLIENT}
	</li>

	<li>
		<label for="date">Fecha:</label>
		<input type="text" name="date_format_friendly" value="{DATE}" /><input type="hidden" name="date" value="{DATE}" /></li>
	</li>

	<li>
		<label for="subtotal">Subtotal:</label>
		<input type="text" name="subtotal" />
	</li>

	<li>
		<label for="total">Impuestos:</label>
		<input type="text" name="tax" />
	</li>

	<li>
		<label for="total">Total:</label>
		<input type="text" name="total" />
	</li>

	<li>
		<label for="currency">Moneda:</label>
		<input checked type="radio" name="currency" value="1" /> USD
		<input type="radio" name="currency" value="2" /> $U
	</li>

	<li>
		<label for="currency_value">Valor Moneda:</label>
		<input type="text" name="currency_value" />
	</li>

	<li>
		<label for="total">Tipo factura:</label>
		<input type="radio" name="invoice_type" value="1">Contado
		<input type="radio" name="invoice_type" value="2">Crédito
		<input type="radio" name="invoice_type" value="3">Nota de Crédito
		<input type="radio" name="invoice_type" value="0">Ninguna
	</li>

	<li>
		<label for="invoice_number">Número de Factura:</label>
		<input type="text" name="invoice_number" value="{INVOICE_NUMBER}"/>
	</li>

	<li>
		<label for="date">Lista de precios:</label>
		<pricelistname></pricelistname>
	</li>

	<li>
		<label for="salesman">Vendedor:</label>
		{SALESMAN}
	</li>

	<li>
		<label for="products">Productos:</label>
		
			<input type="hidden" name="product_id" />
			<input type="hidden" name="product_name" />
			<input type="text" name="product" placeholder="buscar" />

			<input type="number" size="2" name="qty" value="0" autocomplete="off">
			<button type="button" value="add-product">Agregar</button>
		
	</li>

	<li>

		<products>

			<table class="data-grid">
				<tr>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>P.Unitario</th>
					<th>Subtotal</th>
				</tr>
			</table>

		</products>
	</li>

</ul>