<h2>Venta #{ID}</h2>

<ul>

	<li><label>Cliente:</label> {CLIENT}</li>

	<li><label>Total:</label> {TOTAL}</li>

	<li><label>Productos:</label>
		
		<ul>
		<!--PRODUCT-->
			<li>{ORDER_AMOUNT} x {PRODUCT_NAME}</li>
		<!---->
		</ul>

	</li>

</ul>


<a class="button" href="generate_invoice?o={ID}">Generate Invoice</a>