body{
	background-color:#79a325;
	font-family:Arial;
	margin-top:55px;
	color:#666;
}

h1{
	font-family:century gothic;
	font-weight:normal;
	text-align:center;
	padding-bottom:15px;
	margin:0px;
	color:#79a325;
}

#g-div-canvas{
	text-align:left;
	background:white;	
	padding-left:50px;
	padding-top:30px;
	padding-bottom:30px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow: 1px 1px 2px #222;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
}

#g-div-main{
	width:650px;
}

#g-div-logo{
	background:url(logo.png) 5px 0px no-repeat;
	height:57px;
}



#g-div-button{
	margin-top:30px;
	text-align:center;
}

#g-table-form{
	font-size:15px;
	width:500px;
}

#g-table-form td{
	width:100%;
}

#g-table-form th{
	text-align:right;
	color:#666;
	padding-right:10px;
	white-space:nowrap;
}

#g-div-url{
	display:box;
	color:#777;
	font-size:11px;
}

input{
	border:0;
	border-bottom:1px dotted #666;
	width:100%;
	padding: 5px;
	outline: none;
	font-size: 120%;
}

#g-div-memberships{
	width:100%;
	border-spacing:0;
}

#g-table-memberships td{
	width:20%;
	border:0px solid red;
	text-align:center;
}

#g-table-memberships th{
	text-align:center;
	width:20%;
}

.g-membership-monthly{
	font-size:9px;
	color:#666;
	text-align:center;
}

.g-pricing-price{
	font-size:19px;
	font-family:Tahoma;
	text-align:center;
}

.g-membership{
	float:left;
	width:55px;
	padding:5px;
	text-align:center;
	cursor:default;
	border:1px solid white;
}

.g-membership:hover{
	border:1px solid #b8ec83;
}

.g-membership-selected{
	background:#b8ec83;
}

.g-membership-input{
	text-align:center;
	
}

.g-membership-name{
	text-align:center;
	font-weight:bold;
}

.g-highlighted{
}

#g-div-terms{
	font-family:Times;
	font-size:12px;
	overflow:auto;
	height:80px;
	padding:5px;
	border:1px solid #CCC;
	margin-bottom:5px;
}

#g-div-terms-message{
	font-size:10px;
	color:#444;
}