<ul>

	<li><label>Nombre:</label> <input type="text" name="first_name" /></li>

	<li><label>Apellido:</label> <input type="text" name="last_name" /></li>

	<li><label>Email:</label> <input type="text" name="email" /></li>

</ul>