<table class="data-grid">

	<tr>
		<th>NOMBRE</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<!--CONTACT-->
	<tr>
		<td>{NAME}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="contact">eliminar</a></td>
	</tr>
<!---->
</table>