<bottommenu>
	<ul>
		<!--MODULE-->
		<li>

			<icon>

			<a href="#" data-module-path="{PATH}">
				<img src="sys/ui/img/app-icons/{MODULE_ID}_1.png" />
			</a>

			<name>{NAME}</name>

			</icon>

		</li>
		<!---->
	</ul>
</bottommenu>