<h1>Welcome!</h1>

<modulecontent>
	
	{CONTENT}

	<!--NEXT_BUTTON-->
	<button value="next" class="button">Siguiente ></button>
	<!---->

	<!--START_BUTTON-->
	<button value="start" class="button">Comenzar!</button>
	<!---->

</modulecontent>