<h2>4. Soporte Técnico al Instante</h2>

<img style="width:100%; border:1px solid #DDD;" src="sys/ui/img/tutorial_support.jpg">

<p>Podes enviarle un mensaje directamente al departamento de soporte haciendo click en el botón verder "?" ubicado en la parte inferior derecha de la pantalla.</p>