<h2>2. Las 3 Areas de Wizard</h2>

<p>Los módulos de Wizard se classifican en 3 areas principales:</p>

<table class="tutorial-modules">

	<tr>

		<th>A. Administración</th>
		<th>B. Ventas</th>
		<th>C. Producción</th>

	</tr>

	<tr>
		<td><img src="sys/ui/img/app-icons/users_1.png"><span>Usuarios</span></td>
		<td><img src="sys/ui/img/app-icons/clients_1.png"><span>Clientes</span></td>
		<td><img src="sys/ui/img/app-icons/products_1.png"><span>Productos</span></td>
	</tr>

	<tr>
		<td><img src="sys/ui/img/app-icons/expenses_1.png"><span>Gastos</span></td>
		<td><img src="sys/ui/img/app-icons/orders_1.png"><span>Ventas</span></td>
		<td></td>
	</tr>

	<tr>
		<td><img src="sys/ui/img/app-icons/payments_1.png"><span>Ingresos</span></td>
		<td><img src="sys/ui/img/app-icons/invoicing_1.png"><span>Facturación</span></td>
		<td></td>
	</tr>

</table>

<br clear="all" />

<style>

.tutorial-modules{
	width: 100%;
	border-spacing: 0px;
}

.tutorial-modules th:last-child,
.tutorial-modules td:last-child{
		border-right: 1px solid #DDD;
}
.tutorial-modules th,
.tutorial-modules td{
	width: 33%;
	text-align: center;
	padding: 10px;
	border-left: 1px solid #DDD;
}

.tutorial-modules ul li{
	text-align: center;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.tutorial-modules td img{
	margin: auto;
	display: block;
	width: 40px;
	margin-bottom: 8px;
}

.tutorial-modules td span{
	font-size: 11px;
	font-weight: normal;
}

</style>