<h2>2. Armá tu equipo!</h2>

<img style="width:100%; border:1px solid #DDD;" src="sys/ui/img/tutorial_users.jpg">

<p>Empezá creando una cuenta de usuario para cada uno de los integrantes de tu equipo. Podes hacer esto muy fácilmente desde el módulo USUARIOS.</p>