<ul>

	<li><label>Monto:</label> $<input type="number" name="total" /></li>

	<li><label>Fecha:</label> <input type="text" name="date_format_friendly" value="{DATE}" /><input type="hidden" name="date" value="{DATE}" /></li>

	<li><label>Descripción:</label> <textarea name="description">{DESCRIPTION}</textarea></li>

</ul>