<form class="filter" action="expenses/list">

	<label>Mes:</label>{SELECT_MONTH}

	<label>Año:</label>{SELECT_YEAR}

	<input type="submit" value="Filtrar" class="button" />

</form>

<br>

<table class="data-grid">

	<tr>
		<th>DESCRIPTION</th>
		<th>FECHA</th>
		<th>TOTAL</th>
		<th></th>
		<th></th>
	</tr>

<!--EXPENSE-->
	<tr>
		<td>{DESCRIPTION}</td>
		<td>{DATE}</td>
		<td class="number">{TOTAL}</td>
		<!-- <td><a href="view?id={ID}">ver</a></td> -->
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="expense">eliminar</a></td>
	</tr>
<!---->

	<tr>
		<td></td>
		<td></td>
		<td><strong>{TOTAL_SUM}<strong></td>
		<td></td>
		<td></td>
	</tr>

</table>