<style type="text/css">
	
#payments-chart{
	float: right;

}


</style>

<form action="payments/list" class="filter">

	<label>Cliente:</label>

	{SELECT_CLIENT}

	<label>Mes:</label>

	{SELECT_MONTH}

	<label>Año:</label>

	{SELECT_YEAR}

	<input type="submit" value="Filtrar" class="button" />

</form>

<br>

<table class="data-grid">

	<tr>
		<th>CLIENTE</th>
		<!-- <th>DESCRIPTION</th> -->
		<th>FECHA</th>
		<th>TOTAL ($)</th>
		<th>TOTAL ($U)</th>
		
		<!-- <th></th>
		<th></th> -->
		<th></th>
	</tr>

<!--PAYMENT-->
	<tr>
		<td><a href="<?php echo site_url() ?>/usuarios">{CLIENT}</a></td>
		<!-- <td>{DESCRIPTION}</td> -->
		<td>{DATE}</td>
		<td class="number">{TOTAL}</td>
		<td class="number">{TOTAL_2}</td>
		
		<!-- <td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">editar</a></td> -->
		<td><a href="#delete" w-object-id="{ID}" w-object-type="payment">eliminar</a></td>
	</tr>
<!---->

	<tfoot>

		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="number">{GRAND_TOTAL}</td>
			<!-- <td></td>
			<td></td>
			 --><td></td>
		</tr>

	</tfoot>

</table>

<canvas id="payments-chart" width="400" height="100"></canvas>
