<ul>

	<li><label>Monto:</label> <span class="currency">$ <input type="text" name="total" /></span></li>

	<li>
		<label for="currency">Moneda:</label>
		<input checked type="radio" name="currency" value="1" /> USD
		<input type="radio" name="currency" value="2" /> $U
	</li>

	<li>
		<label for="currency_value">Valor Moneda:</label>
		<input type="text" name="currency_value" />
	</li>

	<li><label>Número:</label> <input name="number" type="text" /></li>

	<li><label>Fecha:</label> <input type="text" name="date_format_friendly" value="{DATE}" /><input type="hidden" name="date" value="{DATE}" /></li>

	<li><label>Cliente:</label> {SELECT_CLIENT}</li>

	<li><label>Factura:</label> {SELECT_INVOICE}</li>

	<li><label>Descripción:</label> <textarea name="description">{DESCRIPTION}</textarea></li>

</ul>