<ul>

	<li><label>Empresa:</label> <input type="text" name="company_name" /></li>

	<li><label>Razón Social:</label> <input type="text" name="full_company_name" /></li>

	<li><label>RUT:</label> <input type="text" name="rut" /></li>

	<li><label>Nombre:</label> <input type="text" name="first_name" /></li>

	<li><label>Apellido:</label> <input type="text" name="last_name" /></li>

	<li><label>Email:</label> <input type="text" name="email" /></li>

	<li><label>Tel:</label> <input type="text" name="tel" /></li>

	<li><label>Móvil:</label> <input type="text" name="cel" /></li>

	<li><label>Dirección:</label> <input type="text" name="address" /></li>

	<li><label>Dirección 2:</label> <input type="text" name="address_2" /></li>

	<li><label>Ciudad:</label> <input type="text" name="city" /></li>

	<li><label>Departamento:</label> <input type="text" name="state" /></li>

	<li><label>Código Postal:</label> <input type="text" name="postal_code" /></li>

	<li><label>País:</label> <input type="text" name="country" /></li>

	<li><label>Comentarios:</label> <textarea name="country">{COMMENTS}</textarea></li>

<!--PRICE_LIST-->
	<li><label>Lista de precios:</label> {PRICE_LIST_MENU}</li>
<!---->

<!--SALESMAN-->
	<li><label>Vendedor:</label> {SALESFORCE_MENU}</li>
<!---->

</ul>