<form class="filter" action="clients/statements">

	<label>Buscar:</label>

	<input type="text" name="query" value="{QUERY_VALUE}" />

	<input type="submit" value="Filtrar" class="button" />

</form>


<table class="data-grid">

	<tr>
		<th>NOMBRE</th>
		<th>SALDO</th>
		<th></th>
	</tr>

<!--CLIENT-->
	<tr>
		<td>{NAME}</td>
		<td>{BALANCE}</td>
		
		<td><a href="statement?id={ID}">ver</a></td>

	</tr>
<!---->
</table>