
<h2>Estado de Cuenta: {NAME}</h2>

<h3>
	Saldo: {STATEMENT_BALANCE}
</h3>

<table class="data-grid">

	<tr>
		<th>FECHA</th>
		<th>CONCEPTO</th>
		<th>TOTAL</th>
		<th>SALDO</th>
	</tr>

<!--STATEMENT_ITEM-->
	<tr>
		<td>{DATE}</td>
		<td>{ITEM_NAME}</td>
		<td class="number">{TOTAL}</td>
		<td class="number">{BALANCE}</td>
	</tr>
<!---->

	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="number">{STATEMENT_BALANCE}</td>
		</tr>
	</tfoot>

</table>