<h2>{NAME}</h2>

<a class="button" href="statement?id={ID}">estado de cuenta</a>

<ul class="list">

	<li><label>Empresa:</label>{COMPANY_NAME}</li>

	<li><label>Razón Social:</label>{FULL_COMPANY_NAME}</li>

	<li><label>RUT:</label>{RUT}</li>

	<li><label>Nombre:</label>{FIRST_NAME}</li>

	<li><label>Apellido:</label>{LAST_NAME}</li>

	<li><label>Email:</label>{EMAIL}</li>

	<li><label>Tel:</label>{TEL}</li>

	<li><label>Móvil:</label>{CEL}</li>

	<li><label>Dirección:</label>{ADDRESS}</li>

	<li><label>Dirección 2:</label>{ADDRESS_2}</li>

	<li><label>Ciudad:</label>{CITY}</li>

	<li><label>Departamento:</label>{STATE}</li>

	<li><label>Código Postal:</label>{POSTAL_CODE}</li>

	<li><label>País:</label>{COUNTRY}</li>

	<li><label>Comentarios:</label>{COUNTRY}</li>

	<li><label>Lista de Precios:</label>{PRICE_LIST}</li>

	<li><label>Vendedor:</label>{SALESMAN}</li>

</ul>