<h2>Duplicar Lista</h2>

<h3>{BASE_NAME}</h3>

<form action="price-lists/duplicate">
<!-- <form method="post"> -->

	<input type="hidden" name="id" value="{ID}" />

	{FORM}

	<input type="submit" value="Guardar cambios" />

</form>