<h3>Información de la lista</h3>

<ul>
	<li>
		<label>Nombre:</label>
		<input name="name" />
	</li>
	<li>
		<label>Descuento&nbsp;(%):</label>
		<input name="discount" />
	</li>
</ul>


<h3>Precios</h3>

<table class="">



<!--PRODUCT-->
	<tr>
		<td>
			<input type="hidden" name="products[{N}][product]" value="{PRODUCT}" />
			{NAME}
		</td>
		<td>${PRICE}</td>
		<td>$<input type="text" data-original-price="{PRICE}" name="products[{N}][price]" value="{PRICE}" /></td>
	</tr>
<!---->
</table>