<table class="data-grid">
<!--PRICE_LIST-->
	<tr>
		<td>{DEFAULT}</td>
		<td>{NAME}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="price_list">eliminar</a></td>
	</tr>
<!---->
</table>