<h3>Información de la lista</h3>

<ul>
	<li>
		<label>Nombre:</label>
		<input name="name" />
	</li>
	<li>
		<label>Default:</label>
		<input type="checkbox" name="is_default" value="on" />
	</li>
</ul>


<h3>Precios</h3>

<table>
<!--PRODUCT-->
	<tr>
		<td>
			<input type="hidden" name="products[{N}][id]" value="{ID}" />
			<input type="hidden" name="products[{N}][product]" value="{PRODUCT}" />
			{NAME}
		</td>
		<!-- <td>${ORIGINAL_PRICE}</td> -->
		<td>$<input type="text" name="products[{N}][price]" value="{PRICE}" /></td>
	</tr>
<!---->
</table>