<h2>{NAME}</h2>

<a href="duplicate?id={ID}" class="button">duplicar</a>

<h3>Precios</h3>

<table>
<!--PRODUCT-->
	<tr>
		<td>
			{PRODUCT_NAME}
		</td>
		<!-- <td>${ORIGINAL_PRICE}</td> -->
		<td>$ {PRODUCT_PRICE}</td>
	</tr>
<!---->
</table>

