<ul>

	<li>
		<label>Nombre:</label>
		<input name="first_name" />
	</li>

	<li>
		<label>Apellido:</label>
		<input name="last_name" />
	</li>

	<li>
		<label>Email:</label>
		<input name="email" />
	</li>

	<li>
		<label>Skills:</label>
		<textarea name="skills"></textarea>
	</li>

</ul>