<form class="filter" action="freelancers/list">

	<label>Buscar:</label>

	<input type="text" name="query" value="{QUERY_VALUE}" placeholder="skill o nombre..." />

	<input type="submit" value="Filtrar" class="button" />

</form>

<table class="data-grid">
<!--freelancer-->
	<tr>
		<td>{NAME}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">edit</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="freelancer">eliminar</a></td>
	</tr>
<!---->
</table>