<ul>

	<li><label>Título:</label> <input type="text" name="title" /></li>
	<li><label>Payout:</label> <input type="text" name="payout" /></li>
	<li><label>Fecha de entrega:</label> <input type="text" name="delivery_date_alt" /><input type="hidden" name="delivery_date" /></li>
	<li>
		<label for="name">Cliente:</label>
		{CLIENT}
	</li>

	<!-- <li>
		<label for="pm">PM:</label>
		{PM}
	</li>

	<li>
		<label for="fl">Freelancer:</label>
		{FL}
	</li> -->

	
</ul>