<form class="filter" action="projects/list">

	<label>Buscar:</label>

	<input type="text" name="query" value="{QUERY_VALUE}" />

	<label>Estado:</label> {SELECT_STATUS}

	<!-- <select name="status">
		<option value="0">All status</option>
		<option value="1">New</option>
		<option value="2">Ongoing</option>
		<option value="3">Done</option>
		<option value="4">Cancelled</option>
	</select> -->

	<input type="submit" value="Filtrar" class="button" />

</form>


<table class="data-grid">

	<tr>
		<th>NOMBRE</th>
		<th>ESTADO</th>
		<th>$</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<!--PROJECT-->
	<tr>
		<td><a href="view?id={ID}">{TITLE}</a></td>
		<td>{STATUS}</td>
		<td>{$}</td>
		
		<!-- <td><a href="view?id={ID}">ver</a></td> -->
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="project">eliminar</a></td>
		<!-- <td><a href="#time" w-object-id="{ID}">time</a></td> -->
	</tr>
<!---->
	<tfooter>
		<tr>
			<td></td>
			<td></td>
			<td>{$$}</td>
			<td></td>
			<td></td>
		</tr>
	</tfooter>
</table>