<style type="text/css">
	
.toggle-status li label{ text-align:left; margin:0;  }

</style>

<h2>{TITLE}</h2>

<!--START-->
<a class="button" href="start?id={ID}">Iniciar Proyecto</a>
<!---->

<ul class="list">

	<li><label>Estado:</label>{STATUS}</li>

	<!-- <li><label>Razón Social:</label>{FULL_COMPANY_NAME}</li>

	<li><label>RUT:</label>{RUT}</li>

	<li><label>Nombre:</label>{FIRST_NAME}</li>

	<li><label>Apellido:</label>{LAST_NAME}</li>

	<li><label>Email:</label>{EMAIL}</li>

	<li><label>Tel:</label>{TEL}</li>

	<li><label>Móvil:</label>{CEL}</li>

	<li><label>Dirección:</label>{ADDRESS}</li>

	<li><label>Dirección 2:</label>{ADDRESS_2}</li>

	<li><label>Ciudad:</label>{CITY}</li>

	<li><label>Departamento:</label>{STATE}</li>

	<li><label>Código Postal:</label>{POSTAL_CODE}</li>

	<li><label>País:</label>{COUNTRY}</li>

	<li><label>Comentarios:</label>{COUNTRY}</li>

	<li><label>Lista de Precios:</label>{PRICE_LIST}</li>

	<li><label>Vendedor:</label>{SALESMAN}</li> -->

</ul>

<form action="projects/set_status">

	<input type="hidden" name="id" value="{ID}">

	<ul class="toggle-status">
		
		<li>
			<label><input type="radio" name="status" value="1">New<label>
		</li>
		<li>
			<label><input type="radio" name="status" value="2">Ongoing<label>
		</li>
		<li>
			<label><input type="radio" name="status" value="3">Done<label>
		</li>
		<li>
			<label><input type="radio" name="status" value="4">Cancelled<label>
		</li>
	</ul>

</form>