<form class="filter" action="products/list">

	<label>Buscar:</label>

	<input type="text" name="query" value="{QUERY_VALUE}" />

	<input type="submit" value="Filtrar" class="button" />

</form>

<table class="data-grid">

	<tr>
		<th>NOMBRE</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<!--PRODUCT-->
	<tr>
		<td>{NAME}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">editar</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="product">eliminar</a></td>
	</tr>
<!---->
</table>