<ul>

	<li><label>Nombre:</label> <input type="text" name="name" /></li>

	<li><label>Descripción:</label> <textarea name="description"></textarea></li>

	<li><label>Código:</label> <input type="text" name="code" /></li>

	<li><label>Precio:</label> <input type="text" name="price" /></li>

	<li><label>Dimensiones:</label> <input type="text" name="dimensions" /></li>

	<li><label>Categoría:</label> {CATEGORY_MENU}</li>

</ul>