<h2>Producto #{ID}</h2>

<ul>

	<li><label>Nombre:</label> {NAME} </li>

	<li><label>Descripción:</label> {DESCRIPTION}</li>

	<li><label>Código:</label> {CODE} </li>

	<li><label>Precio:</label> {PRICE} </li>

	<li><label>Dimensiones:</label> {DIMENSIONS} </li>

	<li><label>Categoría:</label> {CATEGORY}</li>

</ul>