<!--<form action="payments/list" class="filter">

	<label>Cliente:</label>

	{SELECT_CLIENT}

	<label>Mes:</label>

	{SELECT_MONTH}

	<input type="submit" value="Filtrar" class="button" />

</form>

<br>-->

<style type="text/css">

ol.tasks,
ul.done{
	float:left;
	width: 40%;
}

</style>

<ol class="tasks">
<!--TASK-->
	<li data-task-id="{TASKID}">
		<label><input type="checkbox">{DESCRIPTION}</label>
	</li>
<!---->

</ol>

<ul class="done">
<!--TASKDONE-->
	<li data-task-id="{TASKID}">
		<label><input type="checkbox">{DESCRIPTION}</label>
	</li>
<!---->

</ul>

