<table class="data-grid">
<!--SALESMAN-->
	<tr>
		<td>{NAME}</td>
		<td><a href="view?id={ID}">ver</a></td>
		<td><a href="edit?id={ID}">edit</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="salesman">eliminar</a></td>
	</tr>
<!---->
</table>