<table class="data-grid">

	<tr>
		<th>CLIENTE</th>
		<th>TOTAL</th>
		<th>COMISION</th>
		<th>FECHA</th>
		<th></td>
	</tr>

<!--ORDER-->
	<tr>
		<td>{CLIENT}</td>
		<td>{TOTAL}</td>
		<td>{ORDER_COMMISION}</td>
		<td>{DATE}</td>
		<!-- <td><a href="#delete" w-object-id="{ID}" w-object-type="order">eliminar</a></td> -->
	</tr>
<!---->

</table>