<ul>

	<li>
		<label>Nombre:</label>
		<input name="first_name" />
	</li>

	<li>
		<label>Apellido:</label>
		<input name="last_name" />
	</li>

	<li>
		<label>Comisión:</label>
		<input name="commision" type="number" />
	</li>

</ul>