<h2>{NAME}</h2>

<ul>

	<li>
		<label>Comisión:</label>
		{COMMISION}%
	</li>

	<li>
		<label>Ventas totales:</label>
		{ORDER_COUNT}
	</li>

	<!-- <li>
		<label>Total vendido:</label>
		{ORDERS_TOTAL}
	</li>

	<li>
		<label>Comisión total:</label>
		{ORDERS_TOTAL_COMMISION}
	</li> -->

</ul>

<h3>Ventas</h3>

{ORDERS}