<table class="data-grid">
<!--IMPORTATION-->
	<tr>
		<td>{ID}</td>
		<td>{DATE}</td>
		<td><a href="view?id={ID}">view</a></td>
		<td><a href="#delete" w-object-id="{ID}" w-object-type="importation">eliminar</a></td>
	</tr>
<!---->
</table>