<table class="data-grid">

	<tr>
		<th>ITEM</th>
		<th>TOTAL</th>
		<th>ORIGEN</th>
	</tr>

<!--INVENTORY_MOVEMENT-->
	<tr>
		<td>{NAME}</td>
		<td>{COUNT}</td>
		<td>{ORIGIN}</td>
	</tr>
<!---->
</table>